<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ranking</title>
    <script src="https://kit.fontawesome.com/1b87209bec.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="menu">
        <input type="checkbox" id="btn-menu">

        <label for="btn-menu"><i id="menu-dropdown" class="fas fa-bars"></i></label>
        <nav class="main-nav">
            <ul>
                <li><a href="index.html">Index</a></li>
                <li>
                    <a href="ranking.html">Ranking</a>
                </li>
                <li><a href="#">Perfil</a></li>
                <li><a href="login.html">Login</a></li>
                <li><a href="registro.html">Registro</a></li>
            </ul>
        </nav>
    </div>
    <form align=center action="profile.html">
        <input type="text" type="search" placeholder="Buscar Jugador" aria-label="Search" v-model="usuario" name="summonerName" id="buscador">
        <input type="submit" name="submit" value="Buscar" class="btn-index">
    </form>


    <div class="container" id="app">
        <table class="gridtable">
            <thead>
                <tr>
                    <th scope="col">Ranking</th>
                    <th scope="col">LP</th>
                    <th scope="col">NickName</th>
                    <th scope="col">Wins</th>
                    <th scope="col">Losses</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(player, index) in data">
                    <td colname="Ranking">{{index + 1}}</td>
                    <td colname="LP">{{player.leaguePoints}}</td>
                    <td colname="NickName">{{player.summonerName}}</td>
                    <td colname="Wins">{{player.wins}}</td>
                    <td colname="Losses">{{player.losses}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <footer>TODOS LOS DERECHOS RESERVADOS</footer>


    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="js/app.js"></script>
    <script src="js/user.js"></script>
</body>

</html>