    //core
    @import 'assets/css/core/variables';
    @import 'assets/css/layout/header';
    @import 'assets/css/layout/footer';
    @import 'assets/css/components/buttons';
    @import 'assets/css/components/forms';
    @import 'assets/css/components/typography';
    @import 'assets/css/pages/index.scss';
    @import 'assets/css/pages/perfil.scss';
    @import 'assets/css/pages/ranking.scss';
    @import 'assets/css/components/images';
     ::placeholder {
        color: $placeholder-color;
    }
    
    input[type="date"]::-webkit-inner-spin-button {
        display: none;
        -webkit-appearance: none;
    }
    
    html {
        box-sizing: $box_sizing;
        font-family: $arial_typo, $helvetica_typo, $sans-serif_typo;
        color: $typo_color;
    }
    
    body {
        width: $body-width;
        margin: $body_margin;
        background: $img_background no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    
    @media screen and (max-width:768px) {
        body {
            margin: $body_mobile_margin;
            width: $body_mobile_width;
            background-image: $img_background_mobile;
            // background-size: cover;
            // background-repeat: no-repeat;
        }
    }