.main-nav li {
  text-align: center;
  flex-grow: 1;
  border-right: 1px solid #fff; }

.main-nav ul {
  margin: 0;
  list-style: none;
  padding: 0;
  display: flex; }

.main-nav li:hover {
  background-color: rgba(0, 0, 0, 0.3); }

.main-nav li a {
  display: block;
  padding: 15px 20px;
  color: white;
  text-decoration: none; }

#menu {
  width: 100%;
  background: #333; }

#btn-menu {
  display: none; }

#menu label {
  display: none;
  width: 30px;
  height: 30px;
  padding: 10px;
  border-right: 1px solid #fff; }

#menu label:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.3); }

#btn-menu:checked ~ .main-nav {
  margin: 0; }

@media screen and (max-width: 768px) {
  #menu label {
    display: block;
    color: #fff;
    font-size: 20px; }

  #menu-dropdown {
    padding-left: 6px; }

  .main-nav {
    position: absolute;
    background: #333;
    width: 70%;
    margin: -90%; }

  .main-nav ul {
    flex-direction: column; }

  .main-nav li {
    border-top: 1px solid #fff; } }
footer {
  color: #fff;
  text-align: center;
  margin-top: 20px;
  background-color: black;
  height: 30px;
  line-height: 35px; }

.btn-index {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 50px; }

.btn-index:hover {
  cursor: pointer;
  background-color: #ffc107;
  color: #000; }

.loginForm {
  width: 320px;
  height: 420px;
  color: #fff;
  margin-top: 10%;
  box-sizing: border-box;
  padding: 70px, 30px;
  text-align: center; }

.loginForm p {
  margin: 0;
  padding: 0;
  font-weight: bold; }

.loginForm input {
  width: 100%;
  margin-bottom: 20px; }

.loginForm a {
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: rgba(248, 248, 248, 0.849); }

.loginForm a:hover {
  color: #ffc107; }

.usuario,
.password,
.email,
#buscador {
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff; }

@media screen and (max-width: 768px) {
  p {
    display: none; } }
h4.title {
  text-align: center;
  color: #fff; }

iframe {
  width: 70%;
  height: 500px;
  padding-left: 15%; }

.container {
  width: 80%;
  overflow: auto;
  margin-top: 5%;
  margin-left: 10%; }

.gridtable {
  margin: 0 auto;
  width: 95%;
  overflow: auto;
  font-size: 14px;
  border-collapse: collapse;
  text-align: center;
  border: none;
  background: transparent;
  outline: none;
  color: #fff; }

.gridtable th {
  border-width: 2px;
  padding: 8px;
  border-color: black; }

.gridtable td {
  border-width: 2px;
  padding: 8px;
  border-style: solid;
  border-color: black; }

@media only screen and (max-width: 768px) {
  table thead {
    display: none; }

  table tr {
    display: block;
    margin-top: 5px;
    padding-bottom: 5px;
    border-bottom: 2px solid #FF5733; }

  table td {
    display: block;
    text-align: right;
    font-size: 13px;
    border-radius: 5px;
    margin-bottom: 1px;
    min-height: 14px; }

  table td:before {
    content: attr(colname);
    float: left;
    font-weight: bold; } }
.landing_img {
  background-image: url("./assets/images/landing_img.jpg"); }

@media screen and (max-width: 768px) {
  .landing_img {
    background-image: url("./assets/images/mobile.jpg"); } }
::placeholder {
  color: rgba(255, 255, 255, 0.822); }

input[type="date"]::-webkit-inner-spin-button {
  display: none;
  -webkit-appearance: none; }

html {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: #333; }

body {
  width: 90%;
  margin: 2% 5%;
  background: url("./assets/images/landing_img.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

@media screen and (max-width: 768px) {
  body {
    margin: 0;
    width: 100%;
    background-image: url("./assets/images/mobile.jpg"); } }

/*# sourceMappingURL=style.css.map */
