$box_sizing: border-box;
$body-width: 90%;
$body_margin: 2% 5%;
$text_title: center;
//navbar
$navbar_li_text_align: center;
$navbar_li_flex_grow: 1;
$navbar_li_border-right: 1px solid #fff;
$navbar_li_hover: rgba(0, 0, 0, 0.3);
$navbar_li_a_display: block;
$navbar_li_a_padding: 15px 20px;
$navbar_li_a_color: white;
$navbar_li_a_text_decoration: none;
$navbar_ul_margin: 0;
$navbar_ul_padding: 0;
$navbar_ul_list_style: none;
$navbar_ul_display: flex;
$navbar_witdh: 100%;
$navbar_btn_display: none;
$navbar_label_width:30px;
$navbar_label_height:30px;
$navbar_label_padding:10px;
$navbar_label_border_right: 1px solid #fff;
$menu_label_hover_bg: rgba(0, 0, 0, 0.3);
// index
$img_background: url("./assets/images/landing_img.jpg");
$img_background_mobile: url("./assets/images/mobile.jpg");
//forms
$login-margin-top:10%;
$a-color: rgba(248,
248,
248,
0.849);
$a-hover: #ffc107;
$input-width: 100%;
$input-mbottom: 20px;
$input-height: 40px;
$input-colors: #fff;
$form-p-font: bold;
//iframe
$iframe-width:70%;
$iframe-height:500px;
$iframe-padding-left:15%;
//footer
$footer-color: #fff;
$footer-background-color: black;
$footer-height: 30px;
$footer-line-height: 35px;
//botones
$btn-color: white;
$btn-background: #4CAF50;
$btn-font-size: 16px;
$btn-background-hover:#ffc107;
$btn-color-hover:#000;
//ranking
$container-overflow: auto;
$container-mtop: 5%;
$container-mleft: 10%;
$tablewidth: 95%;
$tableFontSize: 14px;
$tableBorderColapse: collapse;
$tableTextAlign: center;
$tableBorder: none;
$tableColor: #fff;
$tabThBorder: 2px;
$tabThPadding: 8px;
$tabThBorderStyle: solid;
$tabThBorderColor: black;
// media @768px
$body_mobile_margin: 0;
$body_mobile_width: 100%;
$background_navbar: #333;
$navbar_label_mobile_color: #fff;
$navbar_label_mobile_display: block;
$navbar_label_mobile_font_size:20px;
$navbar_mobile_dropdown: 6px;
$navbar_mobile_position:absolute;
$navbar_mobile_width:70%;
$navbar_mobile_margin:-90%;
$navbar_mobile_ul_flex_direction:column;
$navbar_mobile_li_border_top:1px solid #fff;
$tableBorderBottomColor: #FF5733;
//placeholder
$placeholder-color: rgba(255,
255,
255,
0.822);