.btn-index {
    background-color: $btn-background;
    border: none;
    color: $btn-color;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: $btn-font-size;
    margin-top: 50px;
}

.btn-index:hover {
    cursor: pointer;
    background-color: $btn-background-hover;
    color: $btn-color-hover;
}